*.csv
*.pyc
*.sql
*.fcgi
*.shtml
*.php
.htaccess
.gitignore
default.html
intelview/*.pyc
gaytabase/*.pyc
populate_db.py
todo*
gaytabase/settings_hidden.py
productionsettings.py
add_counties.py
static/*
csvdata/
intelview/static/*
intelview/admin/*
venv
