{% extends "menubase.html" %}

{% block content %}
<div class="contentholder">
	<div class="formheader"><h2>Businesses</h2></div>
		<div class="menupage">

		<p><br><br><b>JobsOhio corporations</b></p>
				{% for business in businesses %}
					{% if business.jobsOhio == 1 %}
						<a href="{% url 'businessView' %}">{{business.name}}</a> - 
					{% endif %}
				{% endfor %}

		<p><br><br><b>ENDA supportive small businesses</b></p>
				{% for business in businesses %}
					{% if business.signedENDA == 1 %}
							<a href="{% url 'businessView' %}">{{business.name}}</a> - 
					{% endif %}
				{% endfor %}

		<p><br><br><b>All businesses</b></p>
				{% for business in businesses %}
					<a href="{% url 'businessView' %}">{{business.name}}</a> - 
				{% endfor %}
				
		</div>

</div>


<br><br><br><br><br>

{% endblock %}
