{% extends "menubase.html" %}

{% block content %}
<div class="contentholder">
	<div class="formheader"><h2>Businesses</h2></div>
		<div class="menupage">


		<p><br><br><b>Small businesses with links to EO</b></p>
				{% for business in businesses %}
					{% if business.signedENDA == 1 %}
							<a href="{% url 'businessView' business.id %}">{{business.name}}</a> - 
					{% endif %}
				{% endfor %}


		<p><br><br><b>JobsOhio corporations</b></p>
				{% for business in businesses %}
					{% if business.jobsOhio == 1 %}
						<a href="{% url 'businessView' business.id %}">{{business.name}}</a> - 
					{% endif %}
				{% endfor %}

		<p><br><br><b>Other corporations</b></p>
				{% for business in businesses %}
					{% if business.corporate == 1 %}
						<a href="{% url 'businessView' business.id %}">{{business.name}}</a> - 
					{% endif %}
				{% endfor %}
				
		</div>

</div>


<br><br><br><br><br>

{% endblock %}
