{% extends "base.html" %}
{% block content %}
{% load static %}

<div class="contentholder">
	<h1 class="formheader">{{business.name}}</h2>
	<img class="districtpic" src="{% static 'intelview/BusinessPics/'%}{{business.name}}.png">
	<p><br><br><br><br><b>Region:</b> {{business.region}}</p>
	<p><br><b>Has offices in cities:</b>{{business.cities}}</p>
	<p><br><b>Senate District(s):</b>
	<p><br><b>House District(s):</b></p>
	<p><br><b>Has donated to:</b> 
	
	
</div>

{% endblock%}
