{% extends "menubase.html" %}

{% block content %}
<div class="contentholder">
	<h2>Districts</h2>
	<p> Fairness for Ohio targets <span class="blue">marked blue</span>.

</div>

<div id="buttonholder">
	<a href="{{ url_for('SD01') }}"><div class="componentbutton target shortened">SD 1
	<div class="details">Hite(R)</div></div></a>
	
	<a href="{{ url_for('SD01') }}"><div class="componentbutton target shortened">SD 2
	<div class="details">Gardner(R)</div></div></a>
		
	<a href="{{ url_for('SD01') }}"><div class="componentbutton target shortened">SD 3
	<div class="details">Bacon(R)</div></div></a>
			
	<a href="{{ url_for('SD01') }}"><div class="componentbutton shortened">SD 4
	<div class="details">Coley(R)</div></div></a>
	
	<div class="componentbutton shortened target">SD 5<div class="details">Beagle(R)</div></div></a>
	<div class="componentbutton shortened target">SD 6<div class="details"></div></div></a>
	<div class="componentbutton shortened target">SD 7<div class="details"></div></div></a>
	<div class="componentbutton shortened target">SD 8<div class="details"></div></div></a>
	<div class="componentbutton shortened target">SD 9<div class="details"></div></div></a>	
	<div class="componentbutton shortened target">SD 10<div class="details"></div></div></a>
	<div class="componentbutton shortened target">SD 11<div class="details"></div></div></a>
	<div class="componentbutton shortened target">SD 12<div class="details"></div></div></a>		

	
</div>

{% endblock %}
