{% extends "menubase.html" %}

{% block content %}
<div class="contentholder">
	<h2>Leaders</h2>
</div>

<div id="buttonholder">
	<a href="{% url 'leaders' %}"><div class="componentbutton">FAITH
	<div class="details">Clergy and lay leaders</div></div></a>
	
	<a href="{% url 'leaders' %}"><div class="componentbutton">COMMUNITY
	<div class="details">Grasstops leaders</div></div></a>
	
	<a href="{% url 'leaders' %}"><div class="componentbutton"> VOLUNTEER
	<div class="details">Affinity group leads and supervolunteers</div></div></a>
	
</div>

{% endblock %}
