{% extends "base.html" %}
{% block content %}
<div class="contentholder">
	<div class = "formheader">
		<h2>{{leader.tite}} {{leader.firstname}} {{leader.lastname}}</h2>
	</div>
	
		{% if leader.volunteerleader == 1 %}<h3 style="text-align: center">Volunteer leader</h3><br>{% endif %}
		{% if leader.faithleader == 1 %}<h3 style="text-align: center">Faith leader</h3><br>{% endif %}
		{% if leader.business == 1 %}<h3 style="text-align: center">Business leader</h3><br>{% endif %}
		{% if leader.communityleader == 1 %}<h3 style="text-align: center">Community leader</h3><br>{% endif %}
	</p>
	
	<p><b>Lives in</b>
		<ul><li><i>Region</i>: <a href="{% url 'regionView' leader.region.id %}">{{leader.region.name}}</a></li>
		<li><i>County</i>: <a href="{% url 'countyView' leader.county.id %}">{{leader.county.name}}</a></li>
		<li><i>City</i>: <a href="{% url 'cityView' leader.city.id %}">{{leader.city.name}}</a></li>
	</ul></p>


	<p><br><b>Lives in or near Senate District(s):</b> {% for sd in leader.SDs.all %}<a href="{% url 'SDView' sd.id %}">SD {{sd.number}}</a> - {% endfor %}</p>
	<p><br><b>Lives in or near House District(s):</b> {% for hd in leader.HDs.all %}<a href="{% url 'HDView' hd.id %}">HD {{hd.number}}</a> - {% endfor %}</p>

	

	{% if leader.faithleader == 1 %}
	<br><p><b>Faith leader notes</b></p>
	<ul>
		<li><i>Congregation</i>: {{leader.organizations}}</li>
		<li><i>Denomination</i>: {{leader.denomination}}</li>
		<li><i>Lay or clergy?</i>: {{leader.title}}</li>
		<li><i>Signed ENDA support letter?</i>: {% if leader.signedENDA == 1 %}Yes{% else %}No {% endif %}</li>
	</ul>
	{% else %}
		<br><p><b>Works with group</b>: {{leader.organizations}}</b></p>
	{% endif %}

	
	<br><p><b>Organizer's notes</b>:  {{leader.otherNotes}}</p>


	<br><p><b>Contact info</b></p>
	<ul>
		<li><i>Email</i>: {{leader.email }}</li>
		<li><i>Phone</i>: {{leader.phone }}</li>
		<li><i>Street address</i>:{% if leader.address %} {{leader.address }}, {{leader.city}}, OH {{leader.zip}} {% endif %}</li>
	</ul>

	
</div>
{% endblock%}
