{% extends "menubase.html" %}

{% block content %}
<div class="contentholder">
	<div class="formheader"><h2>State Legislators</h2></div>
	<h3> Target legislators appear <span class="bluetext">in blue.</span></h3>
	
		<p><br><br><b>Senators</b></p>
				<div class="legislatorlist"><ul>{% for s in senators %}
					<div class="namebutton {% if s.EHEAtarget==1 %}target{% endif %}"><a href="{{ url_for('Sen', id=s.id) }}">{{s.lastname}} ({{s.party}})</a></div>
				{% endfor %}</ul></div>

		<p><br><br><b>House Representatives</b></p>
				<div class="legislatorlist"><ul>{% for r in representatives %}
					<div class="namebutton {% if r.EHEAtarget==1 %}target{% endif %}"><a href="{{ url_for('Rep', id=r.id) }}">{{r.lastname}} ({{r.party}})</a></div>
				{% endfor %}</ul></div>

		</div>
</div>


<br><br><br><br><br>

{% endblock %}
