{% extends "menubase.html" %}

{% block content %}
<div class="contentholder">
	<div class="formheader"><h2>Legislators</h2></div>
	
	<div class="menupage">

		<div id="bluebackground" class="targetinfo">
				<b>Senate EHEA Targets</b>
				
			{% for r in regions %}
				<p><i>{{r}}</i>
				<ul>{% for Senator in Senators %}
						{% if Senator.EHEAtarget == 1 and Senator.region.name == r %}<li><a href="{% url 'SenatorView' Senator.id %}">{{Senator.lastname}} ({{Senator.party}}) -SD {{Senator.district.number}}</a></li>{% endif %}
				{% endfor %}</ul></p>
			{% endfor %}

		</div>
		
		<div id="bluebackground" class="targetinfo" style="width:500px;">
			<span><b>House EHEA Targets</b></span><br>
			<div class="threecolumns" style="margin: -10px">
			{% for r in regions %}
				<p><i>{{r}}</i>			
				<ul>{% for Representative in Representatives %}
					{% if Representative.EHEAtarget == 1 and Representative.region.name == r %}<li><a href="{% url 'RepresentativeView' Representative.id %}">{{Representative.lastname}} ({{Representative.party}}) -HD {{Representative.district.number}}</a></li>{% endif %}
				{% endfor %}</ul></p>
			{% endfor %}
			</div>
		</div>




		<div id="greenbackground" class="districtinfo">
			<p><b>All Senators</b></p>
				{% for Senator in Senators %}
					{% if Senator.EHEAtarget == 1 %}<span class="target">{% endif %}<a href="{% url 'SenatorView' Senator.id %}">{{Senator.lastname}}</a> {% if Senator.EHEAtarget == 1 %}</span>{% endif %} {% if Senator.lastname != "Widener" %} -{% endif %}
				{% endfor %}
		</div>

		<div id="greenbackground" class="districtinfo">
			<p><b>All House Representatives</b></p>
				{% for Representative in Representatives %}
					{% if Representative.EHEAtarget == 1 %}<span class="target">{% endif %}<a href="{% url 'RepresentativeView' Representative.id %}" >{{Representative.lastname}}</a>{% if Representative.EHEAtarget == 1 %}</span>{% endif %} {% if Representative.lastname != "Young" %} -{% endif %}
				{% endfor %}
		</div>


	</div>
</div>


<br><br><br><br><br>

{% endblock %}
