{% extends "loginbase.html" %}
{% block content %}

	<div class="loginerror">
		{% if form.errors %}
		<p style="color:red">Hmm, that's not the right username and password.<br /></p>
		{% endif %}
	</div>
	
	<div class="contentholder">
		<h2>Log in to your Gaytabase IntelView account</h2>
	</div>

		
	<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
	{% csrf_token %}

	<div id="loginbox">

		<p>{{form.username.label.tag }}{{form.username }}</p>
		<p>{{form.password.label.tag }} {{form.password }}</p>s
		<p><input type="submit" value="Log in">
		<input type="hidden" name="next" value="{{ next }}" />
		</form>

	</div> 
	{% endblock %}
