<!doctype html>
{% load staticfiles %}

<html>
	<head>
		<title>Equality Ohio - Gaytabase</title>
                <link rel="stylesheet" type="text/css" href="{% static 'intelview/style.css' %}" />

	</head>
	
<body>

	<div id="banner">
		<span class="navbutton" id="bannerspace"></span>
		<a href="{% url 'help' %}"><button class="navbutton">Get help</button></a>

		{% if user.is_anonymous %}
		<a href="{% url 'django.contrib.auth.views.login' %}"><button class="navbutton">Log in</button></a>
		{% else %}
		<a href="{% url 'django.contrib.auth.views.logout' %}"><button class="navbutton">Log out</button></a>
		{% endif %}
		
	</div>

	<div id="header">
		<div id="triangle"></div>
		<img id="brainlogo" src="{% static 'intelview/bannerbrain.png' %}" height=200px;>

	</div>

	<div id="content">
		{% block content %}{% endblock %}
	</div>

</body>
</html>
