{% extends "base.html" %}
{% block content %}

<div class="contentholder">

	<div class = "formheader">
		<h2>{{organization.name}}</h2>
	</div>
	
	<div>
	{% if organization.ally == 1 %}
		<li>Progressive ally organization</b>
	{% endif %}
	{% if organization.affinitygroup == 1 %}
		<li>Equality Ohio affinity group</b>
	{% endif %}
	</div>
	
	<br><br>
	<p><b>Region</b>: {{organization.region}}</p>
	<p><b>Located in counties</b>: {{organization.county}}</p>
	<p><b>Located in cities</b>: {{organization.city}}</p>
	

</div>
{% endblock%}
