{% extends "menubase.html" %}

{% block content %}
<div class="contentholder">
	<div class="formheader"><h2>Groups</h2></div>
		<div class="menupage">

		<p><br><br><b>Affinity groups</b></p>
				{% for organization in organizations %}
					{% if organization.affinityGroup == 1 %}
						<a href="{% url 'organizationView' organization.id %}">{{organization.name}}</a> - 
					{% endif %}
				{% endfor %}

		<p><br><br><b>Progressive ally organizations</b></p>
				{% for organization in organizations %}
					{% if organization.progressiveOrg == 1 %}
						<a href="{% url 'organizationView' organization.id %}">{{organization.name}}</a> - 
					{% endif %}
				{% endfor %}

		<p><br><br><b>Active nonprofits without ties to Equality Ohio</b></p>
				{% for organization in organizations %}
					{% if organization.nonprofitOrg == 1 %}
						<a href="{% url 'organizationView' organization.id %}">{{organization.name}}</a> - 
					{% endif %}
				{% endfor %}
				
				
		<p><br><br><b>Conservative organizations</b></p>
				{% for organization in organizations %}
					{% if organization.conservativeOrg == 1 %}
						<a href="{% url 'organizationView' organization.id %}">{{organization.name}}</a> - 
					{% endif %}
				{% endfor %}				
		</div>

</div>


<br><br><br><br><br>

{% endblock %}
