{% extends "menubase.html" %}

{% block content %}
<div class="contentholder">
	<div class="formheader"><h2>Places</h2></div>
		<div class="menupage">

		<p><br><br><b>Senate Districts</b></p>
				{% for senatedistrict in senatedistricts %}
					<a href="{% url 'SDView' senatedistrict.id %}">{{senatedistrict.shortcode}}</a> - 
				{% endfor %}

		<p><br><br><b>House Districts</b></p>
				{% for housedistrict in housedistricts %}
					<a href="{% url 'HDView' housedistrict.id %}">{{housedistrict.shortcode}}</a> - 
				{% endfor %}

		<p><br><br><b>Regions</b></p>
				{% for region in regions %}
					<a href="{% url 'regionView' region.id %}">{{region.name}}</a> - 
				{% endfor %}

		<p><br><br><b>Counties</b></p>
				{% for county in counties %}
					<a href="{% url 'countyView' county.id %}">{{county.name}}</a> - 
				{% endfor %}

		<p><br><br><b>Cities</b></p>
				{% for city in cities %}
					<a href="{% url 'cityView' city.id %}">{{city.name}}</a> - 
				{% endfor %}
		</div>

</div>


<br><br><br><br><br>

{% endblock %}
