{% extends "menubase.html" %}

{% block content %}
<div class="contentholder">
	<div class="formheader"><h2>Places</h2></div>
		<div class="menupage">


		<div id="bluebackground"><b>Regions</b><p>
				{% for region in regions %}
					<a href="{% url 'regionView' region.id %}">{{region.name}}</a>{% if region.name != "Central"%} -{% endif %}
				{% endfor %}</p></div>

		<div id="purplebackground"><b>Senate Districts</b><p>
				{% for senatedistrict in senatedistricts %}
					<a href="{% url 'SDView' senatedistrict.id %}">SD{{senatedistrict.number}}</a>{% if senatedistrict.number != 33%} -{% endif %}
				{% endfor %}</p></div>

		<div id="purplebackground"><b>House Districts</b><p>
				{% for housedistrict in housedistricts %}
					<a href="{% url 'HDView' housedistrict.id %}">HD{{housedistrict.number}}</a>{% if housedistrict.number != 99%} -{% endif %} 
				{% endfor %}</p></div>


		<div id="greenbackground"><b>Counties</b><p>
				{% for county in counties %}
					<a href="{% url 'countyView' county.id %}">{{county.name}}</a>{% if county.name != "Wyandot"%} -{% endif %}
				{% endfor %}</p></div>

		<div id="greenbackground"><b>Cities</b><p>
				{% for city in cities %}
					<a href="{% url 'cityView' city.id %}">{{city.name}}</a>{% if city.name != "Zanesville "%} -{% endif %}
				{% endfor %}</p></div>
		</div>

</div>


<br><br><br><br><br>

{% endblock %}
