{% extends "base.html" %}
{% block content %}

<div class="contentholder">
	<h1 class="formheader">Senate District {{senatedistrict.number}}</h2>

	<br><img class="districtpic" src="../static/DistrictPics/{{senatedistrict.shortcode}}.png">
	<p><b>In region:</b> {{senatedistrict.region}}</p>
	<p><br><b>Represented in 2014 by:</b><a href="{% url 'SenatorView' %}">{{ legislator.firstname}} {{legislator.lastname}} ({{legislator.party}})</a> </p>

	<p><br><b>Contains:</b>
		<a href="{% url 'HDView'%}">House District 81 {{senatedistrict.housedistricts.number}}</a>


	<p><br><b>Counties:</b> {{senatedistrict.counties}}</p>
	<p><br><b>Major cities:</b> {{senatedistrict.cities}}</p>
	<p><br><b>Countains House Districts:</b> {{senatedistrict.HDs}}

</div>

 {% endblock%}
