{% extends "base.html" %}
{% load static %}
{% block content %}
	<p>
	<img class = "legpic" src="{% static 'intelview/SenatePics/'%}{{senator.lastname}}Sen{{senator.party}}.jpg">
	<table>
	<h1>{{senator.firstname}} {{senator.lastname}} ({{senator.party}})</h1>
	<h3>Represents: <a href="{% url 'SDView' senator.district.id %}">Senate District {{senator.district.number}}</a></h3>
	<tr><td><b>Region of Ohio</b>: 
	<tr><td><b>Committees in 130th General Assembly</b>: {{senator.committees2014}}
	<tr><td><b>Target for EHEA in 130th: </b>{{senator.EHEAtarget}}</td></tr>
	<tr><td><b>Most current known stance on EHEA: </b>{{senator.currentEHEAstance}}</td></tr>
	<tr><td><b>EHEA standalone bill co-sponsor in 130th Gen. Assembly: </b></td></tr>
	<tr><td><b>EHEA vote in 2009:</b> {{senator.EHEA2009Vote}}</td></tr>
	<tr><td><b>Profession</b>: </td></tr>
	<tr><td><b>Faith affiliation</b>:</td></tr>
	</table>
	<br><br>
	<h3>Donors</h3>
	<br><br><h3>JobsOhio Companies with offices in district</h3>
	<br><br>
	<h3>Lobby Day 2013 notes</h3>
	<i>EO leaders attending:</i>         
	<p><i>Did legislator attend in person?:</i>
	<p><i>Legislative staff attending:</i>
	<p><i>Commitments made by legislator's office:</i>
	<p><i>Commitments made by EO delegation:</i>
	<p><i>Other comments:</i> {{senator.lobbyDay2013Intel}}
 {% endblock%}
